div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}
.blog h3{
    margin-top: 0.5em;
}

div.paginator{
    text-align: center;
}

.blogInfo{
    margin-bottom: 0px;
}